.con{
    /* background-color: rgb(2, 1, 18); */
    height: 120vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
}
      .contactForm{
        margin: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90vw;
        max-width: 60rem;
        font-size: medium;
        font-weight: bolder;

      }
      .header{
        border-bottom: 1.5px solid black;
      }
      .header.dark{
        border-bottom: 1.5px solid white;
      }
      .yourName,.email,.msg{
        font-size: medium;
        width: 50%;
        max-width: 40rem;
        margin: 0.5rem;
        padding: 0.5rem 1rem;
        color: aliceblue;
        border: 2px solid white;
        background-color: black;

      }
      .msg{
        resize: none;
      }
      .submit{
        background-color: blue;
        border: none;
        padding: 0.75rem 3.5rem;
        border-radius: 0.5rem;
        margin: 2rem;
        color: white;
      }
      .submit:hover{
        background-color: black;
      }
      @media(max-width:768px){
        .con{
          height: 100vh;
              font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

        }
        .yourName,.email,.msg{
          width: 80%;
        }
        .submit{
          font-weight: bold;
          font-size: 1rem;
        }
        .con h2{
          font-weight: bolder;
          font-size: 1.5rem;
          padding-left: 10px;
        }
       
      }
      
    